body {    
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 25px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea {
    max-width: 280px;
}

/*General propouse*/

.container {
padding:0 50px 0px 50px;

}

.mt-5 {

margin-top:50px;
}
.mt-100 {
    margin-top: 100px;
}
/*General propouse*/
/*Menu´s styles*/
.navbar {
    display: inline-flex;
    padding-right: 30px;
    height: 50px;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.nav {
    list-style: none;  
}

.nav li {
    display: inline-block;
    margin-left: 10px;
    font-size: 19px;
    color:gray;
}

    .nav li a {
    color:gray;
    text-decoration:none;
    }
    .nav li a:hover {
        color: blue;
        
    }

    .navbar-toggle {
        display: none;
    }

.header-presentation__container {
width:100%;
height:220px;
}
.green-presentation {
    width: 100%;
    height: 20px;
    background-color: #1D9348;
}

.blue-presentation {
    width: 100%;
    height: 200px;
    background-color: #001F78;
}

section {
    margin-top: 20px;
}
/*Menu´s styles*/

 
/*Main page*/

.dataMun-welcome {
margin-top:30px;
letter-spacing:1px;
margin-left:50px;
}

.title-container {
    display:grid;
    align-content:center !important;
    width:100%;
    position:relative;
}
    .title-container i {
    font-size:35px;
    margin-top: 10px;

    }

    .title-container img {
        height: 100px;
        right: 10px;
        position: absolute;
    }

.dataMun {
color:#8098BF;
font-weight:bold;
}

.main-title {
}

.main-content {
    height: 400px;
    display:inline-flex;
    width:100%;
}
.main-content__menu {
    width: 30%;
    height:auto;
    text-align:left;
}
.main-content__image {
    width: 70%;
    height: auto;
    
}

.m-c__menu__list {
    line-height: 25px;
    text-decoration: none;
    list-style: none;
}
.m-c__menu__list li a {
    text-decoration: none;
    background-color: #8098BF;
    border-radius:2px;
    color:white;
    padding:3px 115px 3px 25px;
    font-size: 16px;
}
    .m-c__menu__list li a:hover {
    background-color:#1D9348;
    }

.mainImage {
width:100%;
max-height:400px;
}

.title-recognizedPractices {

    color:deeppink;
    font-size:35px;

}

.goodPractices-container {
    border: 1px solid black;
    height: 400px;
    text-align: center;
    padding: 0 200px 0 200px;
}

.goodPractices-text {
    color:royalblue;
    text-align:left;
    font-size: 21px;
}

.videoGoodPractices-container {
    height: 400px;
    display:flex;
    justify-content:center;
    align-content:center;
    border: 1px solid green;
    max-width: 800px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}

.recognizedPractices-container {
    height:auto;   
    overflow:hidden;
}

.recognizedPractices_title {
text-align:center;
}

.recognizedPractices_filters {    
    height:100%;
}

.grid-select__container {

    display:inline-flex;
    width:100%;
}

.grid-select__container div {            
    width: 50%;
   
}

    .grid-select__container .left-container {
        text-align: center;
    }


    select {
        /* styling */
        background-color: white;
        border: thin solid blue;
        border-radius: 4px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;
        /* reset */

        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
.grid-select__container div select {
    width: 40%;
    background-color: deeppink;
    border: none;
    height: 50px;
    color: white;
    font-weight: 600;
    padding-left: 50px;
    font-size: 20px;
    margin-left: 10vh;
    background-image: url('../assets/imgs/Arrow.png');    
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px);
    background-size: 30px 30px, 30px 30px, 1px 1px;
    background-repeat: no-repeat;
}

.map-container {
    margin-top:50px;
    height: auto;
    position: relative;
    overflow:hidden;
    padding-top:0;    
}

#svgMapa {
    scale: .5;
    transform: translateY(-50%);
    padding: -200px;
}

.carousel-container {
    height: 250px;
    border: 1px solid black;
    display: grid;
    justify-content: center !important;    
    align-content: center;
    
}
/*Main page*/



/*Inicia vista por practica*/

.pvPrincipalImage-container {
    height: 800px;

}

.pvPrincipalImage-title {
    width: 100%;
    text-align: center;
}

.pvPrincipalImage-image {

    height:700px;
    text-align:center;
    border: 1px solid black;
}

.pvSocialMedia-container {
height:100px;
border:1px solid red;
}

.pvDescription-container {
    height: 150px;
    border: 1px solid blue;
    margin-top: 50px;
}

.pvMainElement-container {
    height: 500px;
    text-align: center;
    border: 1px solid black;
    margin-top:50px;
}
    /*Inicia vista por practica*/