/*
    Paleta de colores 

    #21409A --> Azul principal
    #00A94F --> Verde principal
*/

:root {
    --blue: #266FB8;
    --pink: #EC3B48;
}

button, input,select {
    font-weight: lighter;
    font-size: 13.5px;
    line-height: 1.1em;
    font-family: 'Poppins', sans-serif !important;
    
}

html {
    
}

body {
    padding-bottom: 20px;
    font: 13px/1.231 arial,helvetica,clean,sans-serif; 
    
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 25px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea {
    max-width: 280px;
}

/*General propouse*/
.ml-20 {
    margin-left: 20px !important;
}
.ml-40 {
    margin-left: 40px !important;
}
.ml-50{
    margin-left:50px !important;
}
.mt-5 {
 margin-top:50px !important;
}
.mt-6 {
    margin-top: 60px !important;
}

.mt-70 {
    margin-top: 70px !important;
}


.mt-100 {
    margin-top: 100px !important;
}
/*General propouse*/
/*Menu´s styles*/
/*.navbar {
    display: inline-flex;
    padding-right: 30px;
    height: 50px;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.nav {
    list-style: none;  
}

.nav li {
    display: inline-block;
    margin-left: 10px;
    font-size: 19px;
    color:gray;
}

    .nav li a {
    color:gray;
    text-decoration:none;
    }
    .nav li a:hover {
        color: blue;
        
    }

    .navbar-toggle {
        display: none;
    }*/


.logo-horizontal img {
    width: 100%;
    height: calc(width / 4);
}



.socialMedia-container {
    display: grid;
    grid-row: 2;
    margin-top: 15px;
}

    .socialMedia-container div img{    
    width: 27px;
    margin-right: 8px;
    margin-left:6px;
    }


.header-menu__text {

color:#455DA1;
}

.navbar-collapse {
    position: relative;
    width: 50% !important;
}

#bs-example-navbar-collapse-1 ul {
    position:absolute;
    left:25%;
    transform:translateX(-10%);
}
.navbar-default {
    
}
.navbar-nav {
    position: relative;
}

    .navbar-nav li {
        margin-top: 20px;
    }

.navbar-header {
    height: 100px;
    position: relative;
    display:flex;
}

.navbar-brand {
height:100%;
}
.navbar-brand img {
    height: 100%;
}

.header-presentation__container {
    width: 100%;
    height: 220px;
}
.green-presentation {
    width: 100%;
    height: 20px;
    background-color: #1D9348;
}

.blue-presentation {
    width: 100%;
    height: 200px;
    background-color: #001F78;
    position:relative;
}

.logo-rigth-bottom {
    width:50px;
    position: absolute;
    right:10px;
    bottom:10px;
}

section {
    margin-top: 20px;
}

/*Menu´s styles*/

 
/*Main page*/

.dataMun-welcome {
margin-top:30px;
letter-spacing:1px;
margin-left:50px;
}



    .title-container i {
    font-size:35px;
    

    }

    .title-container p {    
      position:absolute;
      transform:translate(-50%,110%);      
      left:10%;
      
    }

.blue-header-tittle {
    background-color: var(--blue);
    color:white !important;
    padding:5px;
    font-weight:bold !important;
    font-size:30px !important;
    padding:10px 20px 10px 20px;
    margin-bottom:20px;
}

.dataMun {
    color: #8098BF;
    font-weight: bold;
}

.main-title {
}

.main-content {
    height: 400px;
    display:inline-flex;
    width:100%;
}
.main-content__menu {
    width: 30%;
    height:auto;
    text-align:left;
}
.main-content__image {
    width: 70%;
    height: auto;
    
}

.main-content__image img {
width:100%;
}

    .m-c__menu__list {
        line-height: 25px;
        text-decoration: none;
        list-style: none;
    }
.m-c__menu__list li a {
    text-decoration: none;
    background-color: #8098BF;
    border-radius:2px;
    color:white;
    padding:3px 115px 3px 25px;
    font-size: 16px;
}
    .m-c__menu__list li a:hover {
    background-color:#1D9348;
    }

.mainImage {
width:100%;
max-height:400px;
}


.title-recognizedPractices {
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 4px 0px;
    font-size: 22px;
    padding: 0px;
    line-height: 35px !important;
    color: var(--pink);
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-recognizedPractices:hover {
    color: black;
}

.goodPractices-container {
    height: auto;
    text-align: center;
}

    .goodPractices-container h3 {
        font-family: 'Poppins', sans-serif;
        margin: 0px 0px 4px 0px;
        font-size: 22px;
        padding: 0px;
        line-height: 30px !important;
        color: var(--pink);
        font-weight: 800;
    }

        .goodPractices-container h3:hover {
            color: black;
        }

.goodPractices-text {
    font-weight: lighter;
    font-size: 16.5px !important;
    line-height: 1.1em;  
    margin: 0px;
    margin-left: 0px;
    margin-left: 7px;
    font-family: 'Poppins', sans-serif;
    color: #010101;
}

.videoGoodPractices-container {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid green;
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    
}

.recognizedPractices-container {
    height:auto;   
    overflow:hidden;
}

.recognizedPractices_title {
text-align:center;
}

.recognizedPractices_filters {    
    height:100%;
}

.grid-select__container {

   /* display:inline-flex;
    width:100%;*/
}

.banner-Mejorar div{


    transform:translateX(-50%);
    
    left:50%;
    
}

.grid-select__container .left-container {
    text-align: center;
}


    select {
        /* styling */
        background-color: white;
        border: thin solid blue;
        
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;
        /* reset */
/*
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;*/
    }
.row div select {
    
    background-color: none;
    border-bottom: 2px solid var(--pink) !important;
    width:100%;
    border: none;
    height: 50px;
    color: var(--pink);
    font-weight: 600;
    padding-left: 20px;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 15px;
/*    background-image: url('../assets/imgs/Arrow.png');    
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px);
    background-size: 30px 30px, 30px 30px, 1px 1px;*/
    background-repeat: no-repeat;
}

.map-container {
    margin-top:50px;    
    max-height:500px;
    position: relative;
    overflow:hidden;
    padding-top:0;    
}

#svgMapa {
    scale: 1;
    /*transform: translateY(-50%);*/
    padding: -200px;
}

.carousel-container {
   height: 250px;           
}
/*Main page*/



/*Inicia vista por practica*/

.pvPrincipalImage-container {
    height: 600px;

}

.pvPrincipalImage-title {
    width: 100%;
    text-align: center;
}

.pvPrincipalImage-image {

    height:700px;
    text-align:center;
    border: 1px solid black;
}

.pvSocialMedia-container {
height:100px;
border:1px solid red;
}

.pvDescription-container {
    height: 150px;
    border: 1px solid blue;
    margin-top: 50px;
}

.pvMainElement-container {

    text-align: center;    
    margin-top:50px;
}

.swiper {
    width: 100%;
    height: 300px;
}

.swiper-slide img {
width:100%;
height:250px;
}


.dudas-banner__container {
    background-color:var(--blue);
    height:150px;
    font-size:30px;
    color:white;
    padding:40px 0 0 5vh;
    letter-spacing:4px;
    position:relative;
}

.fa-envelope {
position:absolute;
right:5%;
top: 25%;
font-size:35px !important;
}

.footer-header {
    height:150px;
    display:flex;   
    width:100%;

}


.liIzq {
    padding-left: 0%;
    margin-right: 0%;
    margin-top: 8%;
    line-height:19px;
}

.linkExt a{
    color: #7a7a7a;
}

.liIzq li {
    display: inline;
    color: #7a7a7a;
    font-size: 30px;
    margin-left: 1%;
    font-family: poppins;
    font-weight: 300;
}
.liDerSep {
    border-left: 1px #7a7a7a solid;
    height: 220px;
    width: 2px;
    padding-right: 6%;
    margin-top: 4%;
    margin-bottom: 20px;
}



div.col-md-8.liIzq > div:nth-child(1) > li > a {
    font-size: 27px;
}

.row.pieCnvl a {
    color: #7a7a7a;
    font-size: 12.5px !important;
    font-weight: 300;
}

.row::before, .row::after {
    display: table;
    content: " ";
}

.row::before, .row::after {
    display: table;
}
.footer-bodi {
    font-family: poppins;
}

.row::after {
    clear: both;
}

.row::before, .row::after {
    display: table;
    content: " ";
}

div.col-md-8.liIzq > div:nth-child(2) > li > a {
    font-size: 27px;
}

.row.pieCnvl a {
    color: #7a7a7a;
    font-size: .6em;
    font-weight: 300;
}

 div.col-md-3.liDer > li.aDer {
    margin-bottom: 15px;
    color: #7a7a7a;
    font-size: 1.2em;
    font-weight: 300;
}

li.aDer a {
    color: #7a7a7a;
}

.row.pieCnvl a {
    color: #7a7a7a;
    font-size: .6em;
    font-weight: 300;
}

.col-md-3.liDer {
    list-style: none;
}

.horizontal-line {
    border-top: 1px #7a7a7a solid;
    height: 1px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.footer-body {
    position:relative;
}

    .footer-body .image-container {
        position: absolute;
        bottom: 10px;
        left: 1px;
        margin-left: 5px;
    }

    .footer-body .image-container img {
    scale:1.2;
    margin-left:10px;
    }

    .footer-f img{
    scale:2;
    margin-top:5px; 
    }

.text-presentation {

position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%)
}

.text-center-title {
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 4px 0px;
    margin-bottom: 4px;
    font-size: 35px;
    padding: 0px;
    line-height: 35px !important;
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
}

.green {
    color: var(--pink);
}

.swiper-slide {

}
.sliderText {
    color: white;
    font-family: 'Poppins', sans-serif;
    transform:translate(-50%,-50%);
    left:50%;
    top:40%;
}
.swiper-dark-background {
    position: absolute;
    z-index: 10000;
    background-color: rgb(0 0 0 / 0.70);
    width: 100%;
    height: 83%;
}

.swiper-slide p {
    position: absolute;
    z-index: 90000 !important;
}




.title-main_elements h2 {
    color: var(--pink);
    font: font-family: 'Poppins', sans-serif;
}

        /*Inicia vista por practica*/
.swiper-slide:hover {
    cursor: pointer !important;
}

    .swiper-slide:hover .swiper-dark-background {
        display: none;
    }



    /*Responsive*/
@media (min-width: 992px) {
    .center-content {
        position: absolute;
        transform: translate(0%,50%);
    }

}

@media (max-width: 991px) {
    .row div select {
        background-color: none;
        border-bottom: 2px solid var(--pink) !important;
        width: 85%;
        border: none;
        height: 50px;
        color: var(--pink);
        font-weight: 600;
        padding-left: 20px;
        font-size: 15px;
        margin-left: 5px;
        margin-top: 15px;
        /*    background-image: url('../assets/imgs/Arrow.png');    
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px);
    background-size: 30px 30px, 30px 30px, 1px 1px;*/
        background-repeat: no-repeat;
    }


    .footer-header {
        height:auto;
        display:block;
        width: 100%;
    }

    #imgIgualdadFooter, #imgSelloFooter {
        position: relative;
        transform: translate(-50%,0);
        left: 50%;
    }
}