@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="main-title">Buenas practicas para afrontar la crisis generada por la COVID-19</h2>

<div class="main-content">
    <div class="main-content__menu">
        <ul class="m-c__menu__list">
            <li class="menu-list__item"><a href="#">Example practice.</a></li>
            <li class="menu-list__item"><a href="#">Example practice.</a></li>
            <li class="menu-list__item"><a href="#">Example practice.</a></li>
            <li class="menu-list__item"><a href="#">Example practice.</a></li>
            <li class="menu-list__item"><a href="#">Example practice.</a></li>
            <li class="menu-list__item"><a href="#">Example practice.</a></li>
            <li class="menu-list__item"><a href="#">Example practice.</a></li>
            <li class="menu-list__item"><a href="#">Example practice.</a></li>
        </ul>
    </div>

    <div class="main-content__image">
        
    </div>

</div>