@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-presentation__container">
    <div class="green-presentation">

    </div>
    <div class="blue-presentation">

    </div>
</div>

<h2 class="main-title">Buenas practicas para afrontar la crisis generada por la COVID-19</h2>
<div class="container">
    <section>
        <div class="main-content">
            <div class="main-content__menu">
                <ul class="m-c__menu__list">
                    <li class="menu-list__item"><a href="#">Example practice.</a></li>
                    <li class="menu-list__item"><a href="#">Example practice.</a></li>
                    <li class="menu-list__item"><a href="#">Example practice.</a></li>
                    <li class="menu-list__item"><a href="#">Example practice.</a></li>
                    <li class="menu-list__item"><a href="#">Example practice.</a></li>
                    <li class="menu-list__item"><a href="#">Example practice.</a></li>
                    <li class="menu-list__item"><a href="#">Example practice.</a></li>
                    <li class="menu-list__item"><a href="#">Example practice.</a></li>
                </ul>
            </div>

            <div class="main-content__image">
                Espacio para imagen principal de buena practica
            </div>
        </div>
    </section>
    <section>
        <div class="goodPractices-container">
            <h3>¿Qué es el Repositorio de Buenas prácticas?</h3>
            <div class="goodPractices-text">
                <p>
                    En este repositorio podrás encontrar información sobre las mejores prácticas a nivel
                    nacional para afrontar la crisis generada por la COVID-19, así como, en monitoreo y
                    evaluación de la política pública/social.  ¡inspírate y aplícalas!
                </p>

                <p>
                    Se considerarán "buenas prácticas" aquellas estrategias, programas o acciones diseñadas
                    e implementadas con base en evidencia para minimizar las afectaciones económicas y a
                    los derechos sociales derivadas de la pandemia por la COVID-19.
                </p>

                <p>
                    Si quieres conocer más información, te invitamos a ver el siguiente video.
                </p>
            </div>
        </div>
        </section>
    
        <div class="videoGoodPractices-container">

            <iframe style="width:100%; height:auto" src="https://www.youtube.com/embed/LAKfxLsnEyQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    
    <section>
        <div class="recognizedPractices-container">
            <div class="recognizedPractices_title">
                <h3>Prácticas Reconocidas</h3>
            </div>

            <div class="recognizedPractices_filters">
                <b>ESPACIO PARA CATALOGOS Y FILTROS PARA MAPA</b>
            </div>

        </div>
    </section>
    
            <div class="map-container">

                <div class="mapMain">
                    <h2>Espacio para mapa de la república</h2>
                </div>

            </div>
            <section>
                <div class="carousel-container">

                    <div class="mapMain">
                        <h2>Espacio para carrusel de imagenes</h2>
                    </div>

                </div>
            </section>
</div>